.AppContent {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 35px;
  min-height: calc(100vh - 80px);
}

.Ad {
  padding: 10px;
}
