.AppContent {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100dvh - 80px);
  padding-top: 35px;
}
