$color-main: #ffd1d1;
$color-point: #ff9494;
$color-hover: #ff7979;

// 추석 컨셉
// $color-main: #ffbb5c;
// $color-point: #ff9b50;
// $color-hover: #e25e3e;

// 크리스마스 컨셉
// $color-main: #df2e38;
// $color-point: #5d9c59;
// $color-hover: #8fcc8b;

$color-black: #000000;
$color-darkgrey: #949494;
$color-grey: #cccccc;
$color-lightgrey: #f3f3f3;
$color-background: #fafafa;
$color-receiveMessage: #ffe5a1;
$color-sendMessage: #ffd1d1;
$color-white: #ffffff;
$color-kakaoTalk: #ffec19;
