@import '../../../styles/animation.scss';
@import '../../../styles/color.scss';

.A {
  height: 80dvh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.AnswerInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Answerer {
  font-size: 20px;
}

.QuestionNum {
  color: $color-point;
  font-size: 20px;
}

.Answer {
  width: 300px;
  overflow-wrap: break-word;
}
